Node-Red.json
[
    {
        "id": "a247370890cbd328",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "4d3f9d1a5db509f7",
        "type": "inject",
        "z": "a247370890cbd328",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 100,
        "y": 180,
        "wires": [
            [
                "a45f645b55b8ab83",
                "2a4e4ed28076fcb8",
                "4557bf785e9825f1",
                "ecef74c2dfafefe7",
                "a37728c887429362",
                "8cee3d8e00e29b68",
                "69ab18adab468c02"
            ]
        ]
    },
    {
        "id": "722ab05fb0c92225",
        "type": "Kafka Producer",
        "z": "a247370890cbd328",
        "name": "",
        "broker": "e53ccd0a5578a208",
        "topic": "CITY-A",
        "topicSlash2dot": false,
        "requireAcks": 1,
        "ackTimeoutMs": 100,
        "partitionerType": 0,
        "key": "",
        "partition": 0,
        "attributes": 0,
        "connectionType": "Producer",
        "convertFromJson": false,
        "x": 660,
        "y": 20,
        "wires": []
    },
    {
        "id": "a45f645b55b8ab83",
        "type": "amazon s3",
        "z": "a247370890cbd328",
        "aws": "",
        "bucket": "capstone-iot",
        "filename": "Data-Before/3797_43.csv",
        "region": "ap-south-1",
        "name": "fetch",
        "x": 340,
        "y": 20,
        "wires": [
            [
                "722ab05fb0c92225"
            ]
        ]
    },
    {
        "id": "da773e9490891972",
        "type": "Kafka Consumer",
        "z": "a247370890cbd328",
        "name": "",
        "broker": "e53ccd0a5578a208",
        "regex": false,
        "topics": [
            {
                "topic": "CITY-A",
                "offset": 0,
                "partition": 0
            }
        ],
        "groupId": "kafka-node-group",
        "autoCommit": "true",
        "autoCommitIntervalMs": 5000,
        "fetchMaxWaitMs": 100,
        "fetchMinBytes": 1,
        "fetchMaxBytes": 1048576,
        "fromOffset": 0,
        "encoding": "utf8",
        "keyEncoding": "utf8",
        "connectionType": "Consumer",
        "convertToJson": false,
        "x": 100,
        "y": 1000,
        "wires": [
            [
                "deaaa85a8401fd67"
            ]
        ]
    },
    {
        "id": "58af5f710c1f0bd7",
        "type": "amazon s3 out",
        "z": "a247370890cbd328",
        "aws": "",
        "bucket": "capstone-iot",
        "filename": "Data-After/CITY-A.parquet",
        "localFilename": "/home/sword/Downloads/parquet/citya.parquet",
        "region": "ap-south-1",
        "name": "fetch",
        "x": 1520,
        "y": 1000,
        "wires": []
    },
    {
        "id": "a01a7ae355491b2e",
        "type": "file",
        "z": "a247370890cbd328",
        "name": "",
        "filename": "/home/sword/data/toaws/citya.json",
        "filenameType": "str",
        "appendNewline": true,
        "createDir": false,
        "overwriteFile": "false",
        "encoding": "none",
        "x": 580,
        "y": 1000,
        "wires": [
            [
                "35bb60c4fdce7588"
            ]
        ]
    },
    {
        "id": "2a4e4ed28076fcb8",
        "type": "amazon s3",
        "z": "a247370890cbd328",
        "aws": "",
        "bucket": "capstone-iot",
        "filename": "Data-Before/6639_42.csv",
        "region": "ap-south-1",
        "name": "fetch",
        "x": 340,
        "y": 80,
        "wires": [
            [
                "e5114c661714da88"
            ]
        ]
    },
    {
        "id": "e5114c661714da88",
        "type": "Kafka Producer",
        "z": "a247370890cbd328",
        "name": "",
        "broker": "e53ccd0a5578a208",
        "topic": "CITY-B",
        "topicSlash2dot": false,
        "requireAcks": 1,
        "ackTimeoutMs": 100,
        "partitionerType": 0,
        "key": "",
        "partition": 0,
        "attributes": 0,
        "connectionType": "Producer",
        "convertFromJson": false,
        "x": 660,
        "y": 80,
        "wires": []
    },
    {
        "id": "4842bc8fbd0a3da6",
        "type": "file",
        "z": "a247370890cbd328",
        "name": "",
        "filename": "/home/sword/data/toaws/cityb.json",
        "filenameType": "str",
        "appendNewline": true,
        "createDir": false,
        "overwriteFile": "false",
        "encoding": "none",
        "x": 580,
        "y": 1080,
        "wires": [
            [
                "3b79a11313ebae67"
            ]
        ]
    },
    {
        "id": "2cdcf51fa334b10b",
        "type": "amazon s3 out",
        "z": "a247370890cbd328",
        "aws": "",
        "bucket": "capstone-iot",
        "filename": "Data-After/CITY-B.parquet",
        "localFilename": "/home/sword/Downloads/parquet/cityb.parquet",
        "region": "ap-south-1",
        "name": "fetch",
        "x": 1520,
        "y": 1080,
        "wires": []
    },
    {
        "id": "4557bf785e9825f1",
        "type": "amazon s3",
        "z": "a247370890cbd328",
        "aws": "",
        "bucket": "capstone-iot",
        "filename": "Data-Before/6639_43.csv",
        "region": "ap-south-1",
        "name": "fetch",
        "x": 340,
        "y": 140,
        "wires": [
            [
                "c45ff1f294efc5ee"
            ]
        ]
    },
    {
        "id": "ecef74c2dfafefe7",
        "type": "amazon s3",
        "z": "a247370890cbd328",
        "aws": "",
        "bucket": "capstone-iot",
        "filename": "Data-Before/6640_36.csv",
        "region": "ap-south-1",
        "name": "fetch",
        "x": 340,
        "y": 200,
        "wires": [
            [
                "2aadbcf8713fbe77"
            ]
        ]
    },
    {
        "id": "a37728c887429362",
        "type": "amazon s3",
        "z": "a247370890cbd328",
        "aws": "",
        "bucket": "capstone-iot",
        "filename": "Data-Before/6641_32.csv",
        "region": "ap-south-1",
        "name": "fetch",
        "x": 340,
        "y": 260,
        "wires": [
            [
                "a1e8b57460c77acf"
            ]
        ]
    },
    {
        "id": "8cee3d8e00e29b68",
        "type": "amazon s3",
        "z": "a247370890cbd328",
        "aws": "",
        "bucket": "capstone-iot",
        "filename": "Data-Before/6643_41.csv",
        "region": "ap-south-1",
        "name": "fetch",
        "x": 340,
        "y": 320,
        "wires": [
            [
                "7aa61c0ca4ea918b"
            ]
        ]
    },
    {
        "id": "69ab18adab468c02",
        "type": "amazon s3",
        "z": "a247370890cbd328",
        "aws": "",
        "bucket": "capstone-iot",
        "filename": "Data-Before/6643_44.csv",
        "region": "ap-south-1",
        "name": "fetch",
        "x": 340,
        "y": 380,
        "wires": [
            [
                "4c57ab9f8a5ba2e5"
            ]
        ]
    },
    {
        "id": "c45ff1f294efc5ee",
        "type": "Kafka Producer",
        "z": "a247370890cbd328",
        "name": "",
        "broker": "e53ccd0a5578a208",
        "topic": "CITY-C",
        "topicSlash2dot": false,
        "requireAcks": 1,
        "ackTimeoutMs": 100,
        "partitionerType": 0,
        "key": "",
        "partition": 0,
        "attributes": 0,
        "connectionType": "Producer",
        "convertFromJson": false,
        "x": 660,
        "y": 140,
        "wires": []
    },
    {
        "id": "2aadbcf8713fbe77",
        "type": "Kafka Producer",
        "z": "a247370890cbd328",
        "name": "",
        "broker": "e53ccd0a5578a208",
        "topic": "CITY-D",
        "topicSlash2dot": false,
        "requireAcks": 1,
        "ackTimeoutMs": 100,
        "partitionerType": 0,
        "key": "",
        "partition": 0,
        "attributes": 0,
        "connectionType": "Producer",
        "convertFromJson": false,
        "x": 660,
        "y": 200,
        "wires": []
    },
    {
        "id": "a1e8b57460c77acf",
        "type": "Kafka Producer",
        "z": "a247370890cbd328",
        "name": "",
        "broker": "e53ccd0a5578a208",
        "topic": "CITY-E",
        "topicSlash2dot": false,
        "requireAcks": 1,
        "ackTimeoutMs": 100,
        "partitionerType": 0,
        "key": "",
        "partition": 0,
        "attributes": 0,
        "connectionType": "Producer",
        "convertFromJson": false,
        "x": 660,
        "y": 260,
        "wires": []
    },
    {
        "id": "7aa61c0ca4ea918b",
        "type": "Kafka Producer",
        "z": "a247370890cbd328",
        "name": "",
        "broker": "e53ccd0a5578a208",
        "topic": "CITY-F",
        "topicSlash2dot": false,
        "requireAcks": 1,
        "ackTimeoutMs": 100,
        "partitionerType": 0,
        "key": "",
        "partition": 0,
        "attributes": 0,
        "connectionType": "Producer",
        "convertFromJson": false,
        "x": 660,
        "y": 320,
        "wires": []
    },
    {
        "id": "4c57ab9f8a5ba2e5",
        "type": "Kafka Producer",
        "z": "a247370890cbd328",
        "name": "",
        "broker": "e53ccd0a5578a208",
        "topic": "CITY-G",
        "topicSlash2dot": false,
        "requireAcks": 1,
        "ackTimeoutMs": 100,
        "partitionerType": 0,
        "key": "",
        "partition": 0,
        "attributes": 0,
        "connectionType": "Producer",
        "convertFromJson": false,
        "x": 660,
        "y": 380,
        "wires": []
    },
    {
        "id": "d0d6c7dbf47c8954",
        "type": "amazon s3 out",
        "z": "a247370890cbd328",
        "aws": "",
        "bucket": "capstone-iot",
        "filename": "Data-After/CITY-C.parquet",
        "localFilename": "/home/sword/Downloads/parquet/cityc.parquet",
        "region": "ap-south-1",
        "name": "fetch",
        "x": 1520,
        "y": 1160,
        "wires": []
    },
    {
        "id": "16199daedff516f8",
        "type": "amazon s3 out",
        "z": "a247370890cbd328",
        "aws": "",
        "bucket": "capstone-iot",
        "filename": "Data-After/CITY-D.parquet",
        "localFilename": "/home/sword/Downloads/parquet/cityd.parquet",
        "region": "ap-south-1",
        "name": "fetch",
        "x": 1520,
        "y": 1240,
        "wires": []
    },
    {
        "id": "d8407b80db470c51",
        "type": "amazon s3 out",
        "z": "a247370890cbd328",
        "aws": "",
        "bucket": "capstone-iot",
        "filename": "Data-After/CITY-G.parquet",
        "localFilename": "/home/sword/Downloads/parquet/cityg.parquet",
        "region": "ap-south-1",
        "name": "fetch",
        "x": 1520,
        "y": 1460,
        "wires": []
    },
    {
        "id": "204cd6a322d60d8b",
        "type": "amazon s3 out",
        "z": "a247370890cbd328",
        "aws": "",
        "bucket": "capstone-iot",
        "filename": "Data-After/CITY-F.parquet",
        "localFilename": "/home/sword/Downloads/parquet/cityf.parquet",
        "region": "ap-south-1",
        "name": "fetch",
        "x": 1520,
        "y": 1400,
        "wires": []
    },
    {
        "id": "86788ae402569b0e",
        "type": "amazon s3 out",
        "z": "a247370890cbd328",
        "aws": "",
        "bucket": "capstone-iot",
        "filename": "Data-After/CITY-E.parquet",
        "localFilename": "/home/sword/Downloads/parquet/citye.parquet",
        "region": "ap-south-1",
        "name": "fetch",
        "x": 1520,
        "y": 1320,
        "wires": []
    },
    {
        "id": "92a80ff893b582d0",
        "type": "file",
        "z": "a247370890cbd328",
        "name": "",
        "filename": "/home/sword/data/toaws/cityc.json",
        "filenameType": "str",
        "appendNewline": true,
        "createDir": false,
        "overwriteFile": "false",
        "encoding": "none",
        "x": 580,
        "y": 1160,
        "wires": [
            [
                "e39678da1a280561"
            ]
        ]
    },
    {
        "id": "a25f6d0de87a93c4",
        "type": "file",
        "z": "a247370890cbd328",
        "name": "",
        "filename": "/home/sword/data/toaws/cityd.json",
        "filenameType": "str",
        "appendNewline": true,
        "createDir": false,
        "overwriteFile": "false",
        "encoding": "none",
        "x": 580,
        "y": 1240,
        "wires": [
            [
                "441b2ed6eba0d3f2"
            ]
        ]
    },
    {
        "id": "64054ccea76b188a",
        "type": "file",
        "z": "a247370890cbd328",
        "name": "",
        "filename": "/home/sword/data/toaws/citye.json",
        "filenameType": "str",
        "appendNewline": true,
        "createDir": false,
        "overwriteFile": "false",
        "encoding": "none",
        "x": 580,
        "y": 1320,
        "wires": [
            [
                "af1804465e042650"
            ]
        ]
    },
    {
        "id": "775980ee78783135",
        "type": "file",
        "z": "a247370890cbd328",
        "name": "",
        "filename": "/home/sword/data/toaws/cityf.json",
        "filenameType": "str",
        "appendNewline": true,
        "createDir": false,
        "overwriteFile": "false",
        "encoding": "none",
        "x": 580,
        "y": 1400,
        "wires": [
            [
                "7799b673d9e81b02"
            ]
        ]
    },
    {
        "id": "7e6250ba2ab45ef3",
        "type": "file",
        "z": "a247370890cbd328",
        "name": "",
        "filename": "/home/sword/data/toaws/cityg.json",
        "filenameType": "str",
        "appendNewline": true,
        "createDir": false,
        "overwriteFile": "false",
        "encoding": "none",
        "x": 580,
        "y": 1460,
        "wires": [
            [
                "45e7b6ece43ccb5d"
            ]
        ]
    },
    {
        "id": "0dd91ad55d475608",
        "type": "Kafka Consumer",
        "z": "a247370890cbd328",
        "name": "",
        "broker": "e53ccd0a5578a208",
        "regex": false,
        "topics": [
            {
                "topic": "CITY-B",
                "offset": 0,
                "partition": 0
            }
        ],
        "groupId": "kafka-node-group",
        "autoCommit": "true",
        "autoCommitIntervalMs": 5000,
        "fetchMaxWaitMs": 100,
        "fetchMinBytes": 1,
        "fetchMaxBytes": 1048576,
        "fromOffset": 0,
        "encoding": "utf8",
        "keyEncoding": "utf8",
        "connectionType": "Consumer",
        "convertToJson": false,
        "x": 100,
        "y": 1080,
        "wires": [
            [
                "79d59a7652c06b2b"
            ]
        ]
    },
    {
        "id": "6ac19c4e3ea23903",
        "type": "Kafka Consumer",
        "z": "a247370890cbd328",
        "name": "",
        "broker": "e53ccd0a5578a208",
        "regex": false,
        "topics": [
            {
                "topic": "CITY-C",
                "offset": 0,
                "partition": 0
            }
        ],
        "groupId": "kafka-node-group",
        "autoCommit": "true",
        "autoCommitIntervalMs": 5000,
        "fetchMaxWaitMs": 100,
        "fetchMinBytes": 1,
        "fetchMaxBytes": 1048576,
        "fromOffset": 0,
        "encoding": "utf8",
        "keyEncoding": "utf8",
        "connectionType": "Consumer",
        "convertToJson": false,
        "x": 100,
        "y": 1160,
        "wires": [
            [
                "9b761e5c3e885284"
            ]
        ]
    },
    {
        "id": "af97a1338659df2d",
        "type": "Kafka Consumer",
        "z": "a247370890cbd328",
        "name": "",
        "broker": "e53ccd0a5578a208",
        "regex": false,
        "topics": [
            {
                "topic": "CITY-D",
                "offset": 0,
                "partition": 0
            }
        ],
        "groupId": "kafka-node-group",
        "autoCommit": "true",
        "autoCommitIntervalMs": 5000,
        "fetchMaxWaitMs": 100,
        "fetchMinBytes": 1,
        "fetchMaxBytes": 1048576,
        "fromOffset": 0,
        "encoding": "utf8",
        "keyEncoding": "utf8",
        "connectionType": "Consumer",
        "convertToJson": false,
        "x": 100,
        "y": 1240,
        "wires": [
            [
                "6ab5f3a5befdef53"
            ]
        ]
    },
    {
        "id": "0a6c7783bac1ba7d",
        "type": "Kafka Consumer",
        "z": "a247370890cbd328",
        "name": "",
        "broker": "e53ccd0a5578a208",
        "regex": false,
        "topics": [
            {
                "topic": "CITY-E",
                "offset": 0,
                "partition": 0
            }
        ],
        "groupId": "kafka-node-group",
        "autoCommit": "true",
        "autoCommitIntervalMs": 5000,
        "fetchMaxWaitMs": 100,
        "fetchMinBytes": 1,
        "fetchMaxBytes": 1048576,
        "fromOffset": 0,
        "encoding": "utf8",
        "keyEncoding": "utf8",
        "connectionType": "Consumer",
        "convertToJson": false,
        "x": 100,
        "y": 1320,
        "wires": [
            [
                "092ff10dd1825f30"
            ]
        ]
    },
    {
        "id": "cf5d16cd044f94db",
        "type": "Kafka Consumer",
        "z": "a247370890cbd328",
        "name": "",
        "broker": "e53ccd0a5578a208",
        "regex": false,
        "topics": [
            {
                "topic": "CITY-F",
                "offset": 0,
                "partition": 0
            }
        ],
        "groupId": "kafka-node-group",
        "autoCommit": "true",
        "autoCommitIntervalMs": 5000,
        "fetchMaxWaitMs": 100,
        "fetchMinBytes": 1,
        "fetchMaxBytes": 1048576,
        "fromOffset": 0,
        "encoding": "utf8",
        "keyEncoding": "utf8",
        "connectionType": "Consumer",
        "convertToJson": false,
        "x": 100,
        "y": 1400,
        "wires": [
            [
                "284784ec8ce89f70"
            ]
        ]
    },
    {
        "id": "a039e970ebcfa28d",
        "type": "Kafka Consumer",
        "z": "a247370890cbd328",
        "name": "",
        "broker": "e53ccd0a5578a208",
        "regex": false,
        "topics": [
            {
                "topic": "CITY-G",
                "offset": 0,
                "partition": 0
            }
        ],
        "groupId": "kafka-node-group",
        "autoCommit": "true",
        "autoCommitIntervalMs": 5000,
        "fetchMaxWaitMs": 100,
        "fetchMinBytes": 1,
        "fetchMaxBytes": 1048576,
        "fromOffset": 0,
        "encoding": "utf8",
        "keyEncoding": "utf8",
        "connectionType": "Consumer",
        "convertToJson": false,
        "x": 100,
        "y": 1460,
        "wires": [
            [
                "085c24a0ea1d7125"
            ]
        ]
    },
    {
        "id": "6b5b5ae9c0379769",
        "type": "comment",
        "z": "a247370890cbd328",
        "name": "create a python script file and save to disk",
        "info": "",
        "x": 840,
        "y": 2500,
        "wires": []
    },
    {
        "id": "deaaa85a8401fd67",
        "type": "csv to json ext",
        "z": "a247370890cbd328",
        "name": "3797_43.csv",
        "version": "0.1",
        "source": "payload",
        "delimiter": ",",
        "quote": "\"",
        "escape": "\"",
        "ignoreEmpty": false,
        "checkType": false,
        "trim": false,
        "noheader": false,
        "includeColumns": "",
        "headers": "",
        "debug": false,
        "x": 310,
        "y": 1000,
        "wires": [
            [
                "a01a7ae355491b2e"
            ]
        ]
    },
    {
        "id": "79d59a7652c06b2b",
        "type": "csv to json ext",
        "z": "a247370890cbd328",
        "name": "6639_42.csv",
        "version": "0.1",
        "source": "payload",
        "delimiter": ",",
        "quote": "\"",
        "escape": "\"",
        "ignoreEmpty": false,
        "checkType": false,
        "trim": false,
        "noheader": false,
        "includeColumns": "",
        "headers": "",
        "debug": false,
        "x": 310,
        "y": 1080,
        "wires": [
            [
                "4842bc8fbd0a3da6"
            ]
        ]
    },
    {
        "id": "9b761e5c3e885284",
        "type": "csv to json ext",
        "z": "a247370890cbd328",
        "name": "6639_43.csv",
        "version": "0.1",
        "source": "payload",
        "delimiter": ",",
        "quote": "\"",
        "escape": "\"",
        "ignoreEmpty": false,
        "checkType": false,
        "trim": false,
        "noheader": false,
        "includeColumns": "",
        "headers": "",
        "debug": false,
        "x": 310,
        "y": 1160,
        "wires": [
            [
                "92a80ff893b582d0"
            ]
        ]
    },
    {
        "id": "6ab5f3a5befdef53",
        "type": "csv to json ext",
        "z": "a247370890cbd328",
        "name": "6640_36.csv",
        "version": "0.1",
        "source": "payload",
        "delimiter": ",",
        "quote": "\"",
        "escape": "\"",
        "ignoreEmpty": false,
        "checkType": false,
        "trim": false,
        "noheader": false,
        "includeColumns": "",
        "headers": "",
        "debug": false,
        "x": 310,
        "y": 1240,
        "wires": [
            [
                "a25f6d0de87a93c4"
            ]
        ]
    },
    {
        "id": "092ff10dd1825f30",
        "type": "csv to json ext",
        "z": "a247370890cbd328",
        "name": "6641_32.csv",
        "version": "0.1",
        "source": "payload",
        "delimiter": ",",
        "quote": "\"",
        "escape": "\"",
        "ignoreEmpty": false,
        "checkType": false,
        "trim": false,
        "noheader": false,
        "includeColumns": "",
        "headers": "",
        "debug": false,
        "x": 310,
        "y": 1320,
        "wires": [
            [
                "64054ccea76b188a"
            ]
        ]
    },
    {
        "id": "284784ec8ce89f70",
        "type": "csv to json ext",
        "z": "a247370890cbd328",
        "name": "6643_41.csv",
        "version": "0.1",
        "source": "payload",
        "delimiter": ",",
        "quote": "\"",
        "escape": "\"",
        "ignoreEmpty": false,
        "checkType": false,
        "trim": false,
        "noheader": false,
        "includeColumns": "",
        "headers": "",
        "debug": false,
        "x": 310,
        "y": 1400,
        "wires": [
            [
                "775980ee78783135"
            ]
        ]
    },
    {
        "id": "085c24a0ea1d7125",
        "type": "csv to json ext",
        "z": "a247370890cbd328",
        "name": "6643_44.csv",
        "version": "0.1",
        "source": "payload",
        "delimiter": ",",
        "quote": "\"",
        "escape": "\"",
        "ignoreEmpty": false,
        "checkType": false,
        "trim": false,
        "noheader": false,
        "includeColumns": "",
        "headers": "",
        "debug": false,
        "x": 310,
        "y": 1460,
        "wires": [
            [
                "7e6250ba2ab45ef3"
            ]
        ]
    },
    {
        "id": "ea1e16f7a5154be3",
        "type": "file",
        "z": "a247370890cbd328",
        "name": "cap1.py",
        "filename": "/home/sword/Documents/cap1.py",
        "filenameType": "str",
        "appendNewline": true,
        "createDir": true,
        "overwriteFile": "true",
        "encoding": "none",
        "x": 1060,
        "y": 1000,
        "wires": [
            []
        ]
    },
    {
        "id": "35bb60c4fdce7588",
        "type": "template",
        "z": "a247370890cbd328",
        "name": "",
        "field": "payload",
        "fieldType": "msg",
        "format": "python",
        "syntax": "plain",
        "template": "\nimport pandas as pd\nfile0 = '/home/sword/data/toaws/citya.json'\n\ndf = pd.read_json(file0, orient = 'records')\ndf.to_parquet('/home/sword/Downloads/parquet/citya.parquet')",
        "output": "str",
        "x": 840,
        "y": 1000,
        "wires": [
            [
                "ea1e16f7a5154be3"
            ]
        ]
    },
    {
        "id": "9fa1c1c9f53e743a",
        "type": "file",
        "z": "a247370890cbd328",
        "name": "cap2.py",
        "filename": "/home/sword/Documents/cap2.py",
        "filenameType": "str",
        "appendNewline": true,
        "createDir": true,
        "overwriteFile": "true",
        "encoding": "none",
        "x": 1060,
        "y": 1080,
        "wires": [
            []
        ]
    },
    {
        "id": "3b79a11313ebae67",
        "type": "template",
        "z": "a247370890cbd328",
        "name": "",
        "field": "payload",
        "fieldType": "msg",
        "format": "python",
        "syntax": "plain",
        "template": "\nimport pandas as pd\nfile0 = '/home/sword/data/toaws/cityb.json'\n\ndf = pd.read_json(file0, orient = 'records')\ndf.to_parquet('/home/sword/Downloads/parquet/cityb.parquet')",
        "output": "str",
        "x": 840,
        "y": 1080,
        "wires": [
            [
                "9fa1c1c9f53e743a"
            ]
        ]
    },
    {
        "id": "824a32673fb556ab",
        "type": "file",
        "z": "a247370890cbd328",
        "name": "cap3.py",
        "filename": "/home/sword/Documents/cap3.py",
        "filenameType": "str",
        "appendNewline": true,
        "createDir": true,
        "overwriteFile": "true",
        "encoding": "none",
        "x": 1060,
        "y": 1160,
        "wires": [
            []
        ]
    },
    {
        "id": "e39678da1a280561",
        "type": "template",
        "z": "a247370890cbd328",
        "name": "",
        "field": "payload",
        "fieldType": "msg",
        "format": "python",
        "syntax": "plain",
        "template": "\nimport pandas as pd\nfile0 = '/home/sword/data/toaws/cityc.json'\n\ndf = pd.read_json(file0, orient = 'records')\ndf.to_parquet('/home/sword/Downloads/parquet/cityc.parquet')",
        "output": "str",
        "x": 840,
        "y": 1160,
        "wires": [
            [
                "824a32673fb556ab"
            ]
        ]
    },
    {
        "id": "fb68304379d3ab74",
        "type": "file",
        "z": "a247370890cbd328",
        "name": "cap4.py",
        "filename": "/home/sword/Documents/cap4.py",
        "filenameType": "str",
        "appendNewline": true,
        "createDir": true,
        "overwriteFile": "true",
        "encoding": "none",
        "x": 1060,
        "y": 1240,
        "wires": [
            []
        ]
    },
    {
        "id": "441b2ed6eba0d3f2",
        "type": "template",
        "z": "a247370890cbd328",
        "name": "",
        "field": "payload",
        "fieldType": "msg",
        "format": "python",
        "syntax": "plain",
        "template": "\nimport pandas as pd\nfile0 = '/home/sword/data/toaws/cityd.json'\n\ndf = pd.read_json(file0, orient = 'records')\ndf.to_parquet('/home/sword/Downloads/parquet/cityd.parquet')",
        "output": "str",
        "x": 840,
        "y": 1240,
        "wires": [
            [
                "fb68304379d3ab74"
            ]
        ]
    },
    {
        "id": "c5739d43411fb8f5",
        "type": "file",
        "z": "a247370890cbd328",
        "name": "cap5.py",
        "filename": "/home/sword/Documents/cap5.py",
        "filenameType": "str",
        "appendNewline": true,
        "createDir": true,
        "overwriteFile": "true",
        "encoding": "none",
        "x": 1060,
        "y": 1320,
        "wires": [
            []
        ]
    },
    {
        "id": "af1804465e042650",
        "type": "template",
        "z": "a247370890cbd328",
        "name": "",
        "field": "payload",
        "fieldType": "msg",
        "format": "python",
        "syntax": "plain",
        "template": "\nimport pandas as pd\nfile0 = '/home/sword/data/toaws/citye.json'\n\ndf = pd.read_json(file0, orient = 'records')\ndf.to_parquet('/home/sword/Downloads/parquet/citye.parquet')",
        "output": "str",
        "x": 840,
        "y": 1320,
        "wires": [
            [
                "c5739d43411fb8f5"
            ]
        ]
    },
    {
        "id": "e109fc7cab6b5491",
        "type": "file",
        "z": "a247370890cbd328",
        "name": "cap6.py",
        "filename": "/home/sword/Documents/cap6.py",
        "filenameType": "str",
        "appendNewline": true,
        "createDir": true,
        "overwriteFile": "true",
        "encoding": "none",
        "x": 1060,
        "y": 1400,
        "wires": [
            []
        ]
    },
    {
        "id": "7799b673d9e81b02",
        "type": "template",
        "z": "a247370890cbd328",
        "name": "",
        "field": "payload",
        "fieldType": "msg",
        "format": "python",
        "syntax": "plain",
        "template": "\nimport pandas as pd\nfile0 = '/home/sword/data/toaws/cityf.json'\n\ndf = pd.read_json(file0, orient = 'records')\ndf.to_parquet('/home/sword/Downloads/parquet/cityf.parquet')",
        "output": "str",
        "x": 840,
        "y": 1400,
        "wires": [
            [
                "e109fc7cab6b5491"
            ]
        ]
    },
    {
        "id": "b2ed43510f2688c8",
        "type": "file",
        "z": "a247370890cbd328",
        "name": "cap7.py",
        "filename": "/home/sword/Documents/cap7.py",
        "filenameType": "str",
        "appendNewline": true,
        "createDir": true,
        "overwriteFile": "true",
        "encoding": "none",
        "x": 1060,
        "y": 1460,
        "wires": [
            []
        ]
    },
    {
        "id": "45e7b6ece43ccb5d",
        "type": "template",
        "z": "a247370890cbd328",
        "name": "",
        "field": "payload",
        "fieldType": "msg",
        "format": "python",
        "syntax": "plain",
        "template": "\nimport pandas as pd\nfile0 = '/home/sword/data/toaws/cityg.json'\n\ndf = pd.read_json(file0, orient = 'records')\ndf.to_parquet('/home/sword/Downloads/parquet/cityg.parquet')",
        "output": "str",
        "x": 840,
        "y": 1460,
        "wires": [
            [
                "b2ed43510f2688c8"
            ]
        ]
    },
    {
        "id": "a6d84f06b23ac7eb",
        "type": "pythonshell in",
        "z": "a247370890cbd328",
        "name": "citya",
        "pyfile": "/home/sword/Documents/cap1.py",
        "virtualenv": "/home/sword/Documents/envtest",
        "continuous": true,
        "stdInData": false,
        "x": 1250,
        "y": 1000,
        "wires": [
            []
        ]
    },
    {
        "id": "307206ccca064199",
        "type": "pythonshell in",
        "z": "a247370890cbd328",
        "name": "cityc",
        "pyfile": "/home/sword/Documents/cap3.py",
        "virtualenv": "/home/sword/Documents/envtest",
        "continuous": true,
        "stdInData": true,
        "x": 1250,
        "y": 1160,
        "wires": [
            []
        ]
    },
    {
        "id": "5be81ccb5f32ea63",
        "type": "pythonshell in",
        "z": "a247370890cbd328",
        "name": "cityb",
        "pyfile": "/home/sword/Documents/cap2.py",
        "virtualenv": "/home/sword/Documents/envtest",
        "continuous": true,
        "stdInData": true,
        "x": 1250,
        "y": 1080,
        "wires": [
            []
        ]
    },
    {
        "id": "68a5a1ec298a0af1",
        "type": "pythonshell in",
        "z": "a247370890cbd328",
        "name": "citye",
        "pyfile": "/home/sword/Documents/cap5.py",
        "virtualenv": "/home/sword/Documents/envtest",
        "continuous": true,
        "stdInData": true,
        "x": 1250,
        "y": 1320,
        "wires": [
            []
        ]
    },
    {
        "id": "7212870eae392680",
        "type": "pythonshell in",
        "z": "a247370890cbd328",
        "name": "cityf",
        "pyfile": "/home/sword/Documents/cap6.py",
        "virtualenv": "/home/sword/Documents/envtest",
        "continuous": true,
        "stdInData": true,
        "x": 1250,
        "y": 1400,
        "wires": [
            []
        ]
    },
    {
        "id": "f6ac7ee359111970",
        "type": "pythonshell in",
        "z": "a247370890cbd328",
        "name": "cityg",
        "pyfile": "/home/sword/Documents/cap7.py",
        "virtualenv": "/home/sword/Documents/envtest",
        "continuous": true,
        "stdInData": true,
        "x": 1250,
        "y": 1460,
        "wires": [
            []
        ]
    },
    {
        "id": "f93a2c65485bb701",
        "type": "pythonshell in",
        "z": "a247370890cbd328",
        "name": "cityd",
        "pyfile": "/home/sword/Documents/cap4.py",
        "virtualenv": "/home/sword/Documents/envtest",
        "continuous": true,
        "stdInData": true,
        "x": 1250,
        "y": 1240,
        "wires": [
            []
        ]
    },
    {
        "id": "58129c05d5389abc",
        "type": "inject",
        "z": "a247370890cbd328",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 360,
        "y": 2100,
        "wires": [
            [
                "7d09f32a739b81c9"
            ]
        ]
    },
    {
        "id": "9b5293a3d6966769",
        "type": "file",
        "z": "a247370890cbd328",
        "name": "",
        "filename": "/home/sword/Documents/create_env.sh",
        "filenameType": "str",
        "appendNewline": true,
        "createDir": true,
        "overwriteFile": "true",
        "encoding": "none",
        "x": 850,
        "y": 2100,
        "wires": [
            []
        ]
    },
    {
        "id": "7d09f32a739b81c9",
        "type": "template",
        "z": "a247370890cbd328",
        "name": "",
        "field": "payload",
        "fieldType": "msg",
        "format": "python",
        "syntax": "plain",
        "template": "#!/bin/bash \n\ncd /home/sword/Documents\nls -l\npython3 -m venv envtest\nsource envtest/bin/activate\nls -l\nwhich python",
        "output": "str",
        "x": 520,
        "y": 2100,
        "wires": [
            [
                "9b5293a3d6966769"
            ]
        ]
    },
    {
        "id": "89f8a2b8af9a7439",
        "type": "inject",
        "z": "a247370890cbd328",
        "name": "",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 340,
        "y": 2200,
        "wires": [
            [
                "a5f9ad6f47aeb875"
            ]
        ]
    },
    {
        "id": "a5f9ad6f47aeb875",
        "type": "exec",
        "z": "a247370890cbd328",
        "command": "chmod u+x /home/sword/Documents/create_env.sh",
        "addpay": false,
        "append": "",
        "useSpawn": "true",
        "timer": "",
        "winHide": false,
        "oldrc": false,
        "name": "make create_env.sh file executable",
        "x": 600,
        "y": 2200,
        "wires": [
            [
                "f9ae027e63815483"
            ],
            [
                "f9ae027e63815483"
            ],
            [
                "f9ae027e63815483"
            ]
        ]
    },
    {
        "id": "f9ae027e63815483",
        "type": "debug",
        "z": "a247370890cbd328",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 830,
        "y": 2200,
        "wires": []
    },
    {
        "id": "f6037199f246d465",
        "type": "inject",
        "z": "a247370890cbd328",
        "name": "",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 320,
        "y": 2320,
        "wires": [
            [
                "dc66dfb3ff3c7bc9"
            ]
        ]
    },
    {
        "id": "dc66dfb3ff3c7bc9",
        "type": "exec",
        "z": "a247370890cbd328",
        "command": "bash /home/sword/Documents/create_env.sh",
        "addpay": false,
        "append": "",
        "useSpawn": "true",
        "timer": "",
        "winHide": false,
        "oldrc": false,
        "name": "execute create_env.sh",
        "x": 560,
        "y": 2320,
        "wires": [
            [
                "1013ddc731f9dfe5"
            ],
            [
                "1013ddc731f9dfe5"
            ],
            [
                "1013ddc731f9dfe5"
            ]
        ]
    },
    {
        "id": "1013ddc731f9dfe5",
        "type": "debug",
        "z": "a247370890cbd328",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 810,
        "y": 2320,
        "wires": []
    },
    {
        "id": "d9a08b95161ba921",
        "type": "inject",
        "z": "a247370890cbd328",
        "name": "",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 320,
        "y": 2540,
        "wires": [
            [
                "348d485648273096"
            ]
        ]
    },
    {
        "id": "348d485648273096",
        "type": "exec",
        "z": "a247370890cbd328",
        "command": "chmod u+x /home/sword/Documents/install_packages.sh",
        "addpay": false,
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "winHide": false,
        "oldrc": false,
        "name": "make install_packages.sh file executable",
        "x": 620,
        "y": 2540,
        "wires": [
            [
                "241159fdfa42c83b"
            ],
            [
                "241159fdfa42c83b"
            ],
            [
                "241159fdfa42c83b"
            ]
        ]
    },
    {
        "id": "241159fdfa42c83b",
        "type": "debug",
        "z": "a247370890cbd328",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 890,
        "y": 2540,
        "wires": []
    },
    {
        "id": "aad4289d67cb64de",
        "type": "inject",
        "z": "a247370890cbd328",
        "name": "",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 320,
        "y": 2680,
        "wires": [
            [
                "ecd20d96114567b6"
            ]
        ]
    },
    {
        "id": "ecd20d96114567b6",
        "type": "exec",
        "z": "a247370890cbd328",
        "command": "bash /home/sword/Documents/install_packages.sh",
        "addpay": false,
        "append": "",
        "useSpawn": "true",
        "timer": "",
        "winHide": false,
        "oldrc": false,
        "name": "execute /install_packages.sh",
        "x": 580,
        "y": 2680,
        "wires": [
            [
                "d4a75894b2e38f16"
            ],
            [
                "d4a75894b2e38f16"
            ],
            [
                "d4a75894b2e38f16"
            ]
        ]
    },
    {
        "id": "d4a75894b2e38f16",
        "type": "debug",
        "z": "a247370890cbd328",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 810,
        "y": 2680,
        "wires": []
    },
    {
        "id": "e6ed67537278f728",
        "type": "comment",
        "z": "a247370890cbd328",
        "name": "create bash file that creates and activates venv",
        "info": "In the template node we create a bash file that will create a virtual python environment and activate the environment.\n\n#!/bin/bash \n\ncd /data\nls -l\npython3 -m venv envtest\nsource envtest/bin/activate\nls -l\nwhich python",
        "x": 600,
        "y": 2040,
        "wires": []
    },
    {
        "id": "3815926d8783ba4e",
        "type": "comment",
        "z": "a247370890cbd328",
        "name": "make the bash file executable",
        "info": "",
        "x": 500,
        "y": 2140,
        "wires": []
    },
    {
        "id": "b47c5a10f1a93406",
        "type": "comment",
        "z": "a247370890cbd328",
        "name": "make the bash file executable",
        "info": "",
        "x": 520,
        "y": 2480,
        "wires": []
    },
    {
        "id": "f51902170b29fed8",
        "type": "comment",
        "z": "a247370890cbd328",
        "name": "execute the bash file",
        "info": "",
        "x": 470,
        "y": 2260,
        "wires": []
    },
    {
        "id": "3c8fa877b4c173b7",
        "type": "inject",
        "z": "a247370890cbd328",
        "name": "",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 320,
        "y": 2420,
        "wires": [
            [
                "575b1dde01b7aaf4"
            ]
        ]
    },
    {
        "id": "2d6f60ac477cfab3",
        "type": "file",
        "z": "a247370890cbd328",
        "name": "",
        "filename": "/home/sword/Documents/install_packages.sh",
        "filenameType": "str",
        "appendNewline": true,
        "createDir": true,
        "overwriteFile": "true",
        "encoding": "none",
        "x": 940,
        "y": 2420,
        "wires": [
            []
        ]
    },
    {
        "id": "575b1dde01b7aaf4",
        "type": "template",
        "z": "a247370890cbd328",
        "name": "file to install packages",
        "field": "payload",
        "fieldType": "msg",
        "format": "python",
        "syntax": "plain",
        "template": "#!/bin/bash \n\ncd /home/sword/Documents\nsource envtest/bin/activate\nls -l\nwhich python\npip install pandas\npip install pyarrow\n",
        "output": "str",
        "x": 560,
        "y": 2420,
        "wires": [
            [
                "2d6f60ac477cfab3"
            ]
        ]
    },
    {
        "id": "6c01b46b1ac94b10",
        "type": "comment",
        "z": "a247370890cbd328",
        "name": "create bash file that installs packages",
        "info": "",
        "x": 490,
        "y": 2380,
        "wires": []
    },
    {
        "id": "3c1c7d1c6caf8b2c",
        "type": "comment",
        "z": "a247370890cbd328",
        "name": "execute the bash file to install packages",
        "info": "",
        "x": 550,
        "y": 2620,
        "wires": []
    },
    {
        "id": "adb395e87a4678d0",
        "type": "inject",
        "z": "a247370890cbd328",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 1280,
        "y": 940,
        "wires": [
            [
                "58af5f710c1f0bd7",
                "2cdcf51fa334b10b",
                "d0d6c7dbf47c8954",
                "16199daedff516f8",
                "86788ae402569b0e",
                "204cd6a322d60d8b",
                "d8407b80db470c51"
            ]
        ]
    },
    {
        "id": "e53ccd0a5578a208",
        "type": "Kafka Broker",
        "name": "port1",
        "hosts": [
            {
                "host": "127.0.0.1",
                "port": 9092
            }
        ],
        "hostsEnvVar": "",
        "connectTimeout": "10000",
        "requestTimeout": "30000",
        "autoConnect": "true",
        "idleConnection": "5",
        "reconnectOnIdle": "true",
        "maxAsyncRequests": "10",
        "checkInterval": "10",
        "selfSign": true,
        "usetls": false,
        "useCredentials": false
    }
]